.App {
  text-align: center;
}

.App-logo {
  height: 20vw;
  width: 20vw;

  display: block;
  margin-left: auto;
  margin-right: auto;

}


.App-header {
  background-color: #FFD9E0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
}
