.todo-item-box {
    display: flex;
    align-items: left;
    padding-bottom: 24px;
}

.todo-checked {
    transform: scale(1.5);
}

.todo-title-box {
    padding-left: 8px; 
    width: 75%;
}

.todo-delete-button{
    border: none;
    background-color: transparent;
}

.todo-delete-container {
    float:right;
}
